.search {
    display: flex;
    width: 100%;
    font-size: 1.6rem;
}

.search.search--sm {
    font-size: 1.4rem;
}

.search.search--lg {
    font-size: 2rem;
}

.search .search__input {
    padding: .5em;
    flex-grow: 1;
    font-size: inherit;
    border: none;
    background-color: #EEE;
    border-radius: 3px 0 0 3px;
}

.search .search__input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search .search__input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search .search__input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search .search__input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search .search__btn {
    font-size: inherit;
    border: none;
    background-color: #D83C3C;
    color: #fff;
    padding: 0.3em .8em;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    border-radius: 0 3px 3px 0;
}

.search .search__btn:hover {
    background-color: #e54040;
}

.search .search__btn:active,
.search .search__btn:focus{
    background: #c42f2f;
    outline: 0;
}

.search .search__btn:focus:before,
.search .search__btn:active:before{
    border-right-color: #c42f2f;
}

.search .search__btn::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}





